Importando librerias

In [29]:
import pandas as pd
%matplotlib inline
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
from datetime import datetime
sns.set_style("darkgrid")

Leer datos

In [6]:
%cd C:\Software\Entregables\AirPlaneCrashes\AirPlaneCrashes

C:\Software\Entregables\AirPlaneCrashes\AirPlaneCrashes

In [11]:
df = pd.read_csv("Airplane_Crashes_and_Fatalities_Since_1908.csv")

Exploraci√≥n de datos

In [12]:
df.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2,1,0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5,5,0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1,1,0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20,14,0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30,30,0,Hydrogen gas which was being vented was sucked...

In [16]:
df.shape

(5268, 13)

In [37]:
df.dtypes

Date            datetime64[ns]
Time            datetime64[ns]
Location                object
Operator                object
Flight #                object
Route                   object
Type                    object
Registration            object
cn/In                   object
Aboard                 float64
Fatalities             float64
Ground                 float64
Summary                 object
dtype: object

In [35]:
df["Date"] = pd.to_datetime(df.Date, format="%m/%d/%Y")

In [36]:
df["Time"] = pd.to_datetime(df.Date, format="%H:%M")

In [21]:
df["Operator"].unique().shape

(2477,)

In [22]:
df["Type"].unique().shape

(2447,)

In [23]:
df["Route"].unique().shape

(3245,)

Questions

Which years have the most crashes? Which one the most Fatalities?
Which reason(s) for the crash is(are) the most often one(s)?*
Which airline has the most crashes?
Is there a correlation between Type of airplane and Airline?*
Is there a correlation between route and Airline?
Is there a correlation between time and Airline?
Is there a correlation between route and time?
Is there a correlation between Fatalities and Airline?
Is there a correlation between Fatalities and cause of crash?
Which routes are the ones where the most crashes happened?d
How many chrashes happened abroad?
Which cause(s) of the crash has the most Fatalities?
Do the number of crashes decrease/increase/are stable during time?
Is there a location where a lot of crashes happen?
Is the Military more often involved then "normal" airlines?
Are the most crashes happening at night/day/in the morning?
What airplanes crashed into another?
How many crashes were caused because of human failure/technical problems?
Who are top airplane manufacturers by failure types/crash reasons?

Which years have the most crashes?

In [58]:
df.groupby(lambda x: df['Date'][x].year)["Date"].count().order(ascending=False)

1972    104
1968     96
1989     95
1967     91
1979     89
1973     89
1991     88
1970     87
1994     87
1976     86
1992     86
1988     83
1974     82
1969     82
1996     81
1977     81
1946     80
1995     79
1999     78
1978     77
2000     76
1947     76
1975     75
2002     75
1985     74
1987     74
1962     73
1990     72
1982     70
2001     70
       ...
1929     37
1928     37
1935     36
1931     32
1942     32
1934     30
1932     28
1937     27
1939     26
1933     26
1930     24
2009     24
1941     21
1927     21
1940     18
1920     17
1921     13
1923     12
1926     12
1925     11
1922     11
1924      7
1919      6
1917      6
1916      5
1918      4
1913      3
1915      2
1912      1
1908      1
Name: Date, dtype: int64

Which year has the most Fatalities?

In [59]:
df.groupby(lambda x: df['Date'][x].year)["Fatalities"].sum().order(ascending=False)

1972    2937
1985    2670
1973    2485
1996    2386
1974    2318
1989    2293
1968    2156
1977    2138
1992    2122
1976    2059
1970    2049
1962    2047
1988    2034
1979    2011
1971    1932
1994    1876
1991    1839
1980    1827
1969    1799
1967    1789
1982    1787
1987    1713
1997    1673
1975    1639
1965    1636
1983    1611
1995    1593
1993    1568
1960    1565
1966    1559
        ...
1942     363
1941     229
1936     227
1935     226
1937     203
1933     192
1940     169
1939     154
1930     138
1934     126
1917     124
1928     124
1929     119
1916     108
1931      94
1922      80
1923      77
1932      75
1921      68
1918      65
1927      54
1913      45
1915      40
1925      39
1926      30
1920      24
1924      18
1919       5
1912       5
1908       1
Name: Fatalities, dtype: float64

Which airline has the most crashes?

In [64]:
df.groupby("Operator")["Operator"].count().order(ascending=False)

Operator
Aeroflot                                                       179
Military - U.S. Air Force                                      176
Air France                                                      70
Deutsche Lufthansa                                              65
United Air Lines                                                44
Air Taxi                                                        44
China National Aviation Corporation                             44
Military - U.S. Army Air Forces                                 43
Pan American World Airways                                      41
Military - Royal Air Force                                      36
US Aerial Mail Service                                          36
American Airlines                                               36
Military - U.S. Navy                                            36
Indian Airlines                                                 34
Philippine Air Lines                                            33
KLM Royal Dutch Airlines                                        33
Private                                                         31
Aeropostale                                                     26
British Overseas Airways                                        25
Northwest Orient Airlines                                       25
Eastern Air Lines                                               25
AVIANCA                                                         24
Sabena                                                          24
Military - U.S. Army                                            23
Military -Royal Air Force                                       22
Imperial Airways                                                22
Garuda Indonesia Airlines                                       19
Trans Continental and Western Air                               18
VASP                                                            18
British European Airways                                        18
                                                              ...
Military - Royal HelleniAir Force                                1
Military - Royal Lao Air Force                                   1
Military - Royal Lesotho Defence Force                           1
Military - Royal Netherlands East Indies Air Force               1
Military - Royal Netherlands Naval Air Service                   1
Military - Royal Norwegian Air Force                             1
Military - Russian                                               1
Military - Russian Air Force / Military - Russian Air Force      1
Military - Russian Air Force/Uzbekistan Airways                  1
Military - Russian Army                                          1
Military - Russian Navy                                          1
Military - Russian, cargo                                        1
Military - Salvadoran Air Force                                  1
Military - Salvadorian Air Force                                 1
Military - Servicio Aereo Nacional                               1
Military - Slovak Air Force                                      1
Military - Soviet Navy                                           1
Military - Spanish Air Force.                                    1
Military - Sudanese Air Force                                    1
Military - Taliban Militia                                       1
Military - Tentara Nasional Indonesia Navy                       1
Military - Thai Army                                             1
Military - U. S. Air Force                                       1
Military - U. S. Navy                                            1
Military - U.S.  Air Force / Military - U.S. Navy                1
Military - U.S. Air Force / Military -  U.S. Air Force           1
Military - U.S. Air Force / Military -  U.S. Army                1
Military - U.S. Air Force / Military U.S. Air Force              1
Military - U.S. Air Force/Military - U.S. Air Force              1
L & J Company                                                    1
Name: Operator, dtype: int64

Which routes are the ones where the most crashes happened?

In [65]:
df.groupby("Route")["Route"].count().order(ascending=False)

Route
Training                                    81
Sightseeing                                 29
Test flight                                 17
Test                                         6
Sao Paulo - Rio de Janeiro                   5
Sao Paulo - Porto Alegre                     4
Saigon - Paris                               4
Bogota - Barranquilla                        4
Villavicencio - Mitu                         4
Rome - Athens                                3
Paris - London                               3
Villavicencio - Bogota                       3
Khartoum - Juba                              3
Davao - Manila                               3
Bangkok - Hong Kong                          3
Positioning                                  3
Quito - Cuenca                               3
Barranquilla - Bogota                        3
Istanbul - Ankara                            3
Hue - Da Nang                                3
Huambo - Luanda                              3
Rome - Cairo                                 3
Cleveland - Chicago                          3
Guayaquil - Quito                            3
Rio de Janeiro - Sao Paulo                   3
Lagos - Abuja                                3
Guayaquil - Cuenca                           3
Buenos Aires - Santiago                      3
Burbank - Oakland                            3
Santiago de Cuba - Havana                    3
                                            ..
New York City - Richmond VA                  1
New York City - Richmond - Jacksonville      1
New York City - Prestwick                    1
New York City - Paris                        1
New York City - Nantucket                    1
Newark - Los Angeles                         1
Newark - Miami                               1
Newark - Philadelphia                        1
Newark, NJ - Hartford, CT                    1
Nicosia - Cairo                              1
Nicosia - Ankara                             1
Nice - Paris                                 1
Nice - Nurnberg                              1
Nice - Malta                                 1
Nice - Florence                              1
Niamey - Khartoum                            1
Newwark, N.J. - Buffalo, NY                  1
Newcastle - Lord Howe Island                 1
Newark, NJ - Fort Worth, TX                  1
Newark - San Francisco                       1
Newark, NJ - Flushing, NY                    1
Newark, NJ - Columbus, OH                    1
Newark, NJ - Chicago, IL                     1
Newark, NJ - Boston, MA                      1
Newark, NJ  - Camden, NJ - Washington DC     1
Newark, N.J. - Seattle, WA                   1
Newark, N.J. - Buffalo, NY                   1
Newark - Washington D.C.                     1
Newark - Tacoma                              1
 - Tegucigalpa - Toncontin                   1
Name: Route, dtype: int64

Is there a location where a lot of crashes happen?

In [66]:
df.groupby("Location")["Location"].count().order(ascending=False)

Location
Sao Paulo, Brazil                               15
Moscow, Russia                                  15
Rio de Janeiro, Brazil                          14
Bogota, Colombia                                13
Manila, Philippines                             13
Anchorage, Alaska                               13
New York, New York                              12
Cairo, Egypt                                    12
Chicago, Illinois                               11
Near Moscow, Russia                              9
Tehran, Iran                                     9
AtlantiOcean                                     9
Ankara, Turkey                                   8
Paris, France                                    8
Amsterdam, Netherlands                           8
Rome, Italy                                      8
Denver, Colorado                                 8
Kunming, China                                   7
Cleveland, Ohio                                  7
Guatemala City, Guatemala                        7
Burbank, California                              7
Near Medellin, Colombia                          7
Bucharest, Romania                               7
London, England                                  7
North AtlantiOcean                               6
Barcelona, Spain                                 6
San Juan, Puerto Rico                            6
Columbus, Ohio                                   6
Near Bogota, Colombia                            6
Near La Paz, Bolivia                             6
                                                ..
Near Shindand, Afghanistan                       1
Near Shinile, Ethiopia                           1
Near Succoth Glen, Lochgoilhead, Scotland        1
Near Stepanakert, Azerbaijan                     1
Near Steamboat Springs, Coloado                  1
Near St. Etienne de Tinee, France                1
Near St. Croix, US Virgin Islands                1
Near Srinagar, India                             1
Near Souda, Crete                                1
Near Sorei, Niger                                1
Near Sora, Italy                                 1
Near Songnam-si, South Korea                     1
Near Solo, Indonesia                             1
Near Sokotu, Nigeria                             1
Near Sokcho, South Korea                         1
Near Sogamosa, Colombia                          1
Near Sofia, Bugaria                              1
Near SoTrang, South Vietnam                      1
Near Snag, Yukon Territory                       1
Near Sloan, 10 miles SW of Las Vegas, Nevada     1
Near Skopje, Macedonia                           1
Near Skalafell, Iceland                          1
Near Simara, Nepal                               1
Near Silimo, Indonesia                           1
Near Silcher, India                              1
Near Silchar, India                              1
Near Sihanoukville, Cambodia                     1
Near Sibyak, Indonesia                           1
Near Siagon, Vietnam                             1
1,200 miles off Dakar, AtlantiOcean              1
Name: Location, dtype: int64